.body{ 
    text-align: center;
}

.main-box{
    margin-left: 100px;
    padding-top: 100px;
}

.header{
    width: 1400px;
    margin-bottom: 67px;
}

.banner{
    width: 409px;
    margin-left: 496px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
}

.qoute{
    width: 363px;
    margin-left: 519px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #86878B;
}

.line{
    width: 64px;
    border: 1px solid #E72424;
}

.main{
    width: 1400px;
    padding-bottom: 89px;
    
}

.left-box{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin-right: 28px;
    margin-left: 143px;
    
}

.middle-box{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin-right: 28px;
}

.right-box{
    display: inline-block;
    width: 350px;
    height: 225px;
    margin-right: 143px;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    mix-blend-mode: normal;
    border: 1px solid #E72424;
    margin: 0 auto;
}

.bulb{
    margin: 20px 23px 20px 24px;
}

.keyboard{
    margin: 22px 16px 22px 17px;
}

.lightning{
    margin: 19px 24px 18px 25px;
}

.subtitle{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.text{
    width: 360px;
    height: 60px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}
